/CountNoOfDigitsInNumber.class
/Palindrome_Number.class
/S01_SwapStrings.class
/S02_RemoveSpecialCharacters.class
/S03_ReverseString.class
/S04_ReverseWordsOrder.class
/S05_ReverseEachWordWithSameOrder.class
/S06_CountTotalWordFromString.class
/S07_FindLengthWithoutLengthMethod.class
/S08_TotalCountOfVowelConsonant.class
/S09_CountOfEachVowel.class
/S10_CountWordsStartsWithCapitalLetter.class
/S11_RemoveDuplicatesFromString.class
/S12_MoveVowelsRight.class
/S13_MoveNumbersRight.class
/S14_FindLargestSmallestWord.class
/S15_CountOfEachCharacter.class
/S16_first_nonRepeating_character.class
/S17_ToggleEachCharacter.class
/S18_Anagram.class
/S19_PalindromeCheck.class
/S20_StringCharConversion.class
/S21_Remove_characters_from_first_string_which_are_present_in_the_second_string.class
/S22_SwapTwoStringsWithoutThirdVariable.class
/S23_Sum_of_digits_in_string.class
/ToReverseNumber.class
/Verify_ifStringContains_onlyIntegers.class
